<div>
  <nav class="navbar navbar-expand navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">SILKW3B</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="services" class="nav-link">Services</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact-us" class="nav-link">Contact Us</a>
      </li>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>