<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container bootstrap snippets bootdey">
    <section id="services" class="current">
        <div class="services-top">
            <div class="container bootstrap snippets bootdey">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-md-12">
                        <h2>What We Offer</h2>
                        <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Services
                        </h2>
                        <p>Our <span class="highlight" style="color: black;">seasoned</span> and <span
                                class="highlight" style="color: black;">dedicated</span>
                                team delivers these services effortlessly.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                        <div class="services-list">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-eye highlight" style="color: black;"></div>
                                        <div class="text-block">
                                            <div class="name">Branding/Identity</div>
                                            <div class="text">Unleash the power of your brand with bespoke branding and
                                                identity solutions. Our team blends strategic vision with creative flair
                                                to craft compelling brand identities that resonate with your audience.
                                                From logo design to brand guidelines, we're here to help your brand
                                                stand out in a crowded digital landscape </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-magic highlight" style="color: black;"></div>
                                        <div class="text-block">
                                            <div class="name">Web Design</div>
                                            <div class="text">Transforming your brand vision into captivating digital
                                                experiences. Our web design expertise combines creativity and
                                                functionality to craft websites that resonate with your audience and
                                                elevate your brand identity. Let us help you make a lasting impression
                                                online. </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-code highlight" style="color: black;"></div>
                                        <div class="text-block">
                                            <div class="name">Development/Coding</div>
                                            <div class="text">Elevate your online presence with cutting-edge development
                                                and coding solutions tailored to your brand. From responsive websites to
                                                robust web applications, our team harnesses the power of technology to
                                                bring your vision to life. Let's code your success story together.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-instagram" style="color: black;"></div>
                                        <div class="text-block">
                                            <div class="name">Social Media Marketing</div>
                                            <div class="text">Maximize your brand's reach and engagement with our expert
                                                social media marketing services. We create tailored campaigns,
                                                compelling content, and targeted ads to amplify your brand presence
                                                across all major platforms. Let's spark conversations, foster
                                                connections, and drive results together in the dynamic world of social
                                                media.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-pencil highlight" style="color: black;"></div>
                                        <div class="text-block">
                                            <div class="name">Content Writing</div>
                                            <div class="text">Crafting compelling narratives that captivate and convert
                                                is our specialty. Our copywriting services are designed to resonate with
                                                your audience, convey your brand message effectively, and drive action.
                                                Whether it's website copy, ad campaigns, or engaging content, we'll help
                                                you tell your story in a way that leaves a lasting impression. </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="service-block" style="visibility: visible;">
                                        <div class="ico fa fa-umbrella highlight" style="color: black;"></div>
                                        <div class="text-block">
                                            <div class="name">Strategy/Planning</div>
                                            <div class="text">Navigate the digital landscape with confidence through our
                                                strategic planning services. We analyze market trends, consumer
                                                behavior, and competitor insights to develop customized strategies that
                                                propel your brand forward. Let us be your compass as we chart a course
                                                for success together </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Why choose us -->
<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Why Choose Us</h2>
                    <p>We design and develop services for customers of all sizes, specializing in creating stylish,
                        modern websites, posters, advertisements and much more</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Unique design</h5>
                        <p>We take pride in creating unique, customized design for clients making the product feel more
                            personal</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-th-large"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Different Layout</h5>
                        <p>I design and develop services for customers of all sizes, specializing in creating stylish,
                            modern websites.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-simplybuilt" aria-hidden="true"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Make it Simple</h5>
                        <p>We ensure to make the product as simple as possible to use, we also help you setup and
                            provide support throughout your journey</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Responsiveness</h5>
                        <p>We are really transparent with our deadlines and our job is to get you a great product fast
                        </p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-code-fork" aria-hidden="true"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Testing for Perfection</h5>
                        <p>We always deliver error free output. We employ rigorous testing methodologies to achieve this
                        </p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-skyatlas" aria-hidden="true"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Above & Beyond</h5>
                        <p>There is nothing that you can't imagine and nothing that we can't create. You ask We deliver
                        </p>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</section>

<footer class="bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" href="#/">SILKW3B | </a>
        <a class="btn btn-outline-light" href="https://www.instagram.com/waifues/" role="button" target="_blank"><i
                class="fa fa-instagram"></i></a>
    </div>
</footer>