<body>
  

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!-- About 4 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8 ftco-section img bg-hero" style="background-image: url(assets/1.jpeg);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">
        <h3 class="fs-5 mb-2 text-secondary text-uppercase">About</h3>
        <h2 class="display-8 mb-3 text-white">At SILKW3B, we are more than just a design agency – we are your
          partners in bringing your ideas to life. We offer a comprehensive suite of services to meet all your creative
          needs.</h2>
          <li class="nav-item @@contact-us">
            <a class="nav-link" routerLink="/contact-us"><button type="button" class="btn btn-lg btn-secondary mb-3 mb-md-4 mb-xl-5">Contact</button></a>
          </li>
      </div>
    </div>
  </div>

  <div class="space-between-divs">
    <!-- Content of the first div goes here -->

    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/3.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                  <p class="card-text lead">With years of experience and deep industry knowledge, we have a proven track
                    record of success and are pushing ourselves to stay ahead of the curve.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/4.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Visionary Team</h2>
                  <p class="card-text lead">With a team of visionary engineers, developers, and creative minds, we
                    embark on a journey to transform complex challenges into ingenious artistic and technological
                    solutions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12  col-lg-10">
        <h3 class="display-8 mb-4 text-white">Check out the services we offer (PS: We can create anything you envision)
        </h3>
        <li class="nav-item @@services">
          <a class="nav-link" routerLink="/services"><button type="button" class="btn btn-lg btn-secondary mb-3 mb-md-4 mb-xl-5">Services</button></a>
        </li>
      </div>
    </div>
  </div>
</section>

<footer class="bg-dark text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="#/">SILKW3B | </a>
    <a class="btn btn-outline-light" href="https://www.instagram.com/waifues/" role="button" target="_blank"><i
        class="fa fa-instagram"></i></a>
  </div>
</footer>
</body>