<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="contact-us.component.css">

</head>

<body>

    <section class="ftco-section img bg-hero" style="background-image: url(assets/bg_1.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Let's explore how
                        <a href="#" class="text-secondary">SILKW3B</a>
                        can help you
                    </h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <div class="wrapper">
                        <div class="row no-gutters justify-content-between">
                            <div class="col-lg-6 d-flex align-items-stretch">
                                <div class="info-wrap w-100 p-5">
                                    <h3 class="mb-4">Contact us</h3>
                                    <div class="dbox w-100 d-flex align-items-start">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                        <div class="text pl-4">
                                            <p><span>Phone:</span> <a href="tel://1234567920">+1 929-272-9433</a></p>
                                        </div>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-start">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-paper-plane"></span>
                                        </div>
                                        <div class="text pl-4">
                                            <p><span>Email:</span> <a
                                                    href="mailto:info@yoursite.com">silkw3b.contact@gmail.com</a></p>
                                        </div>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-start">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-globe"></span>
                                        </div>
                                        <div class="text pl-4">
                                            <p><span>Website:</span> <a href="#">silkw3b.com</a></p>
                                        </div>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-start">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-instagram"></span>
                                        </div>
                                        <div class="text pl-4">
                                            <p><span>INSTAGRAM:</span> <a href="https://www.instagram.com/waifues/"
                                                    target="_blank">@waifues</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">Get in touch</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="title" class="form-control" id="name"
                                                    [(ngModel)]="contact.name" required placeholder="Name" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="email" class="form-control" id="email"
                                                    [(ngModel)]="contact.email" required placeholder="Email" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="phone" class="form-control" id="phone"
                                                    [(ngModel)]="contact.phone" required placeholder="Phone" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="subject" class="form-control" id="subject"
                                                    [(ngModel)]="contact.subject" required placeholder="Subject" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="message" name="message" class="form-control"
                                                    id="message" [(ngModel)]="contact.message" required cols="30"
                                                    rows="5" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button (click)="saveContact()" class="btn btn-secondary">Submit</button>
                                        </div>

                                        <div *ngIf="showMessage" class="message">
                                            Details received, we will contact you within 2 business days!
                                          </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-dark text-center text-white">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-white" href="#/">SILKW3B | </a>
            <a class="btn btn-outline-light" href="https://www.instagram.com/waifues/" role="button" target="_blank"><i
                    class="fa fa-instagram"></i></a>
        </div>
    </footer>



</body>

</html>